split_test.jsonl
1sentence_transformers.csv
.env
patstat_pat_no.csv

3keys_for_logicmill.csv

4similar_patents_byLogicMill.csv

7similar_patents_less_than_date.csv
data_final.csv
patents_not_found.csv
patents_without_embeddings.csv
patents_without_publicationdate.csv

8similar_patents_with_techclasses.csv
ipc_unique.dta

ep_ma5_all.dta

data.csv
data2.csv
dataconcat1.csv
9similar_patents_less_than1000.csv
dataconcat2.csv

10merged_data.csv
data204.csv

data_no_citations.csv
data_with_citations.csv

applnids_notin_tls203_appln_abstr.csv
12english_abstract_title.csv
patents_not_en_abstract.csv

13handling_non_english.csv
patents_not_en.csv

14embeddings.pkl
14embeddings.csv

21error_ids.pkl
21similar_patents_updated.pkl

22patents_atleast1000.pkl
22patents_NotFound.pkl
22patents_lessthan1000.pkl

23patents_lessthan1000.pkl
23patents_atleast1000_2.pkl
23patents_atleast1000_3.pkl
23patents_atleast1000_4.pkl

24all_patents_atleat1000.pkl

25patents_with_citations.pkl
25patents_no_citations.pkl

26noisy_patents.pkl