3keys_for_logicmill.csv
7similar_patents_less_than_date.csv
patents_not_found.csv
patents_without_embeddings.csv
patents_without_publicationdate.csv
8similar_patents_with_techclasses.csv
9similar_patents_less_than1000.csv
dataconcat1.csv
dataconcat2.csv
data204.csv
10merged_data.csv
data_no_citations.csv
data_with_citations.csv
12english_abstract_title.csv
patents_not_en_abstract.csv
applnids_notin_tls203_appln_abstr.csv
13handling_non_english.csv
patents_not_en.csv
14embeddings.pkl
14embeddings.csv
4similar_patents_byLogicMill.csv