3keys_for_logicmill.csv
4similar_patents_byLogicMill.csv
7similar_patents_less_than_date.csv
patents_not_found.csv
patents_without_embeddings.csv
patents_without_publicationdate.csv
8similar_patents_with_techclasses.csv